body {
	background-color: #CCCCCC;
	font-size:5vw;
	font-family:Verdana,sans-serif;
	margin: 4vw 0.5vw;
}

input, select {
	font-size: 5vw;
	padding: 2vw;
	margin: 1vw;
	-webkit-box-shadow: 0.5vw 0.5vw 0.5vw 0 #999999;
    -moz-box-shadow: 0.5vw 0.5vw 0.5vw 0 #999999;
    box-shadow: 0.5vw 0.5vw 0.5vw 0 #999999;
	background-color
}

select {
	margin:0;
	padding: 0 3vw;
	height:10vw;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

textarea {
	width: 95%;
	font-size: 5vw;
	background-color:#FFFF66; 
	border: 0.3vw solid #000000;
	padding: 1vw;
	margin: 1vw;
}
.box, .boxw {
	float: left;
	margin: 3vw 0 2vw 2vw;
	padding: 2vw;
	box-sizing: border-box;
	background-color: #FFFFFF;
	background-image: -webkit-linear-gradient(top, #FFFFFF, #AAAAAA);
	background-image: -moz-linear-gradient(top, #FFFFFF, #AAAAAA);
	background-image: -ms-linear-gradient(top, #FFFFFF, #AAAAAA);
	background-image: -o-linear-gradient(top, #FFFFFF, #AAAAAA);
	background-image: linear-gradient(top, #FFFFFF, #AAAAAA);
	-webkit-box-shadow: 1vw 1vw 1vw 0 #999999;
	-moz-box-shadow: 1vw 1vw 1vw 0 #999999;
    box-shadow: 1vw 1vw 1vw 0 #999999;
}

.ebox {
	font-size:4vw;
	width: 94vw;
	float: left;
	margin: 3vw 0 0 2vw;
	padding: 2vw;
	box-sizing: border-box;
	background-color: #FFBBBB;
	border: solid 1vw red;
}

.box {
	width: 46vw;
}
.boxw, #error {
	width: 94vw;
}
#clock {
	overflow: hidden;
	height:45vw;
	width:80vw;
	margin: auto;
	background-color: black;
	color:#FFFFFF;
	text-align:center;
	display:block;
	font-size: 21vw;
}
.the_clock {
	font-size:100%;
}
.the_date {
	font-size:50%;
}
@-webkit-keyframes marquee {
	0%   { text-indent:  100vw }
	100% { text-indent: -300vw }
}
@-moz-keyframes marquee {
	0%   { text-indent:  100vw }
	100% { text-indent: -300vw }
}
@-ms-keyframes marquee {
	0%   { text-indent:  100vw }
	100% { text-indent: -300vw }
}
@keyframes marquee {
	0%   { text-indent:  100vw }
	100% { text-indent: -300vw }
}
.marquee {
	font-size: 60%;
	position: relative;
	overflow: hidden;
	white-space: nowrap;
	background-color: #000000;
	-webkit-animation: marquee 15s linear infinite;
	-moz-animation: marquee 15s linear infinite;
	animation: marquee 15s linear infinite;
}
.textblock {
	font-size: 25%;
	line-height: 1em;
	height: 2em;
	position: relative;
	overflow: hidden;
	white-space: pre;
	background-color: #000000;
}

.tabrow {
  padding:0;
  margin: 0 2vw;
  overflow: hidden;
}

.tabrow li {
  list-style: none;
  border-radius: 3vw 3vw 0 0;
  background: #AAAAAA;
  display: inline-block;
  -webkit-box-shadow: 1vw 1vw 1vw 0 #999999;
  -moz-box-shadow: 1vw 1vw 1vw 0 #999999;
  box-shadow: 1vw 1vw 1vw 0 #999999;
  
}

.tabrow input {
  border: 0;
  background: transparent;
  padding: 2vw;
  -webkit-box-shadow: 0 0 0 0;
  -moz-box-shadow: 0 0 0 0;
  box-shadow: 0 0 0 0;
}
.tabrow .selected {
 background: #FFFFFF;
}

.onOff button {
  width: 12vw;
  height: 12vw;
  border: solid 0.5vw black;
  border-radius: 25%;
  -webkit-box-shadow: 0.5vw 0.5vw 0.5vw 0 #999999;
  -moz-box-shadow: 0.5vw 0.5vw 0.5vw 0 #999999;
  box-shadow: 0.5vw 0.5vw 0.5vw 0 #999999;
  margin: -2vw 2vw 0 0;
}

.button button {
  width: 12vw;
  height: 12vw;
  border: solid 0.5vw black;
  border-radius: 25%;
  -webkit-box-shadow: 0.5vw 0.5vw 0.5vw 0 #999999;
  -moz-box-shadow: 0.5vw 0.5vw 0.5vw 0 #999999;
  box-shadow: 0.5vw 0.5vw 0.5vw 0 #999999;
  margin: 1vw;
}

.grayButton, button:active {
	background-color: #BBBBBB !important;
	border-radius: 50% !important;
	border: solid 1vw gray !important;
}

.button img {
	margin: 1vw;
}

#error {
	border: solid 1vw red;
	text-align: center;
	font-weight: bold;
	float: left;
	margin: 3vw 0 0 2vw;
	padding: 2vw;
	box-sizing: border-box;
	background-color: #FFDDDD;
	background-image: -webkit-linear-gradient(top, #FFAAAA, #FFDDDD);
	background-image: -moz-linear-gradient(top, #FFAAAA, #FFDDDD);
	background-image: -ms-linear-gradient(top, #FFAAAA, #FFDDDD);
	background-image: -o-linear-gradient(top, #FFAAAA, #FFDDDD);
	background-image: linear-gradient(top, #FFAAAA, #FFDDDD);
	-webkit-box-shadow: 1vw 1vw 1vw 0 #999999;
	-moz-box-shadow: 1vw 1vw 1vw 0 #999999;
    box-shadow: 1vw 1vw 1vw 0 #999999;
}


