body {
	background-color: #CCCCCC;
	font-size:5vw;
	font-family:Verdana,sans-serif;
	margin: 4vw 0.5vw;
}

#table {
	height:45vw;
	width:80vw;	
	position:relativ;
	margin: auto;
	font-size: 22.4vw;
}

input {
	font-size: 5vw;
	margin: 1vw;
	-webkit-box-shadow: 0.5vw 0.5vw 0.5vw 0 #999999;
    -moz-box-shadow: 0.5vw 0.5vw 0.5vw 0 #999999;
    box-shadow: 0.5vw 0.5vw 0.5vw 0 #999999;
}

select {
	font-size: 5vw;
	margin: 0vw;
	padding-left: 2vw;
	height:10vw;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	-webkit-box-shadow: 0.5vw 0.5vw 0.5vw 0 #999999;
    -moz-box-shadow: 0.5vw 0.5vw 0.5vw 0 #999999;
    box-shadow: 0.5vw 0.5vw 0.5vw 0 #999999;
}

textarea {
	width: 95%;
	font-size: 5vw;
	background-color:#FFFF66; 
	border: 0.3vw solid #000000;
	padding: 1vw;
	margin: 2vw 0;
}

.tabrow {
  padding:0;
  margin: 0 2vw;
  overflow: hidden;
}

.tabrow li {
  list-style: none;
  border-radius: 3vw 3vw 0 0;
  background: #AAAAAA;
  display: inline-block;
  -webkit-box-shadow: 1vw 1vw 1vw 0 #999999;
  -moz-box-shadow: 1vw 1vw 1vw 0 #999999;
  box-shadow: 1vw 1vw 1vw 0 #999999;
  
}

.tabrow input {
  border: 0;
  background: transparent;
  padding: 2vw;
  -webkit-box-shadow: 0 0 0 0;
  -moz-box-shadow: 0 0 0 0;
  box-shadow: 0 0 0 0;
}
.tabrow .selected {
 background: #FFFFFF;
}

.box, .boxw, #boxSetup, #debug {
	float: left;
	margin: 0 0 4vw 2vw;
	padding: 2vw;
	box-sizing: border-box;
	background-color: #FFFFFF;
	background-image: -webkit-linear-gradient(top, #FFFFFF, #AAAAAA);
	background-image: -moz-linear-gradient(top, #FFFFFF, #AAAAAA);
	background-image: -ms-linear-gradient(top, #FFFFFF, #AAAAAA);
	background-image: -o-linear-gradient(top, #FFFFFF, #AAAAAA);
	background-image: linear-gradient(top, #FFFFFF, #AAAAAA);
	-webkit-box-shadow: 1vw 1vw 1vw 0 #999999;
	-moz-box-shadow: 1vw 1vw 1vw 0 #999999;
    box-shadow: 1vw 1vw 1vw 0 #999999;
}

#error {
	border: solid 1vw red;
	text-align: center;
	font-weight: bold;
	float: left;
	margin: 0 0 4vw 2vw;
	padding: 2vw;
	box-sizing: border-box;
	background-color: #FFFFFF;
}

.box {
	width: 46vw;
}
.boxw, #error, #boxSetup, #debug {
	width: 94vw;
}

.onOff button {
  width: 12vw;
  height: 12vw;
  border: solid 0.5vw black;
  border-radius: 25%;
  -webkit-box-shadow: 0.5vw 0.5vw 0.5vw 0 #999999;
  -moz-box-shadow: 0.5vw 0.5vw 0.5vw 0 #999999;
  box-shadow: 0.5vw 0.5vw 0.5vw 0 #999999;
  margin: -2vw 2vw 0 0;
}

.button button {
  width: 12vw;
  height: 12vw;
  border: solid 0.5vw black;
  border-radius: 25%;
  -webkit-box-shadow: 0.5vw 0.5vw 0.5vw 0 #999999;
  -moz-box-shadow: 0.5vw 0.5vw 0.5vw 0 #999999;
  box-shadow: 0.5vw 0.5vw 0.5vw 0 #999999;
  margin-right: 2vw;
  padding: 0.5vw;
}

.grayButton, button:active {
	background-color: #BBBBBB !important;
	border-radius: 50% !important;
	border: solid 1vw gray !important;
}

button img {
	margin: 0.5vw;
}


