#table {
    background-color: black;
	font-family:Verdana,sans-serif;
	color:#FFFFFF;
	text-align:center;
	overflow: hidden;
}

#clock {
  position: relative;
  top: 50%;
  -webkit-transform: perspective(1px) translateY(-50%);
  -moz-transform: perspective(1px) translateY(-50%);
  transform: perspective(1px) translateY(-50%);
}

#displayTime {
	font-size:100%;
	margin-top: -2%;
}

#displayDate {
	font-size:48%;
}

@-webkit-keyframes marquee {
	0%   { text-indent:  100vw }
	100% { text-indent: -300vw }
}
@-moz-keyframes marquee {
	0%   { text-indent:  100vw }
	100% { text-indent: -300vw }
}
@keyframes marquee {
	0%   { text-indent:  100vw }
	100% { text-indent: -300vw }
}

.marquee {
	font-size: 60%;
	position: relative;
	white-space: nowrap;
	-webkit-animation: marquee 15s linear infinite;
	-moz-animation: marquee 15s linear infinite;
	animation: marquee 15s linear infinite;
}

.textblock, .countdown {
	font-size: 30%;
	position: relative;
	white-space: pre;
}

.onlytext {
	overflow: hidden;
	font-size: 30%;
	position: relative;
	white-space: pre-wrap;
}