body {
	font-size: 28vw;
	background: gray;
}

#wrap {
	position:absolute;
	left:0; right:0; top:0; bottom:0;
	height:56.25vw;
    width: 100vw;
    background-color: black;
	font-family:Verdana,sans-serif;
	text-align:center;
	overflow: hidden;
}

#center {
  position: relative;
  top: 50%;
  -webkit-transform: perspective(1px) translateY(-50%);
     -moz-transform: perspective(1px) translateY(-50%);
          transform: perspective(1px) translateY(-50%);
}

#printUpperLine {
	font-size:30%;
	margin-top: -2%;
	color:#FFFFFF;
}

#printLowerLine {
	font-size:30%;
	margin-top: -2%;
	color:#FFFFFF;
}

@-webkit-keyframes marquee {
	0%   { text-indent:  100% }
	100% { text-indent: -300% }
}
@-moz-keyframes marquee {
	0%   { text-indent:  100% }
	100% { text-indent: -300% }
}
@keyframes marquee {
	0%   { text-indent:  100% }
	100% { text-indent: -300% }
}

.marquee {
	position: relative;
	white-space: nowrap;
	margin-top: -4%;
	-webkit-animation: marquee 15s linear infinite;
	   -moz-animation: marquee 15s linear infinite;
	        animation: marquee 15s linear infinite;
}

#textblock {
	position: relative;
	white-space: pre-wrap;
}