#wrap {
    background-color: black;
	font-family:Verdana,sans-serif;
	color:#FFFFFF;
	text-align:center;
	overflow: hidden;
}

#center {
  position: relative;
  top: 50%;
  -webkit-transform: perspective(1px) translateY(-50%);
  -moz-transform: perspective(1px) translateY(-50%);
  transform: perspective(1px) translateY(-50%);
}

#printUpperLine {
	font-size:30%;
	margin-top: -4%;
}

#printLowerLine {
	font-size:30%;
}

@-webkit-keyframes marquee {
	0%   { text-indent:  100vw }
	100% { text-indent: -300vw }
}
@-moz-keyframes marquee {
	0%   { text-indent:  100vw }
	100% { text-indent: -300vw }
}
@keyframes marquee {
	0%   { text-indent:  100vw }
	100% { text-indent: -300vw }
}

.marquee {
	position: relative;
	white-space: nowrap;
	margin-top: -4%;
	-webkit-animation: marquee 15s linear infinite;
	   -moz-animation: marquee 15s linear infinite;
	        animation: marquee 15s linear infinite;
}

.textblock {
	position: relative;
	white-space: pre-wrap;
}