body {
	background-color: #DDDDDD;
	font-size:5vw;
	font-family:Verdana,sans-serif;
	margin: 4vw 0.5vw;
}

#wrapC {
	height:49.5vw;
	width:88vw;	
	position:relativ;
	margin: 1vw auto; 
	background-color:black;
}

input {
	font-size: 5vw;
	margin: 1vw;
	-webkit-box-shadow: 0.5vw 0.5vw 0.5vw 0 #999999;
    -moz-box-shadow: 0.5vw 0.5vw 0.5vw 0 #999999;
    box-shadow: 0.5vw 0.5vw 0.5vw 0 #999999;
}

select {
	font-size: 5vw;
	margin: 0vw;
	padding-left: 2vw;
	height:10vw;
	width: 20vw;
	border:0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: #DBF2A0;
	-webkit-box-shadow: 0 0 2vw 0 #999999;
       -moz-box-shadow: 0 0 2vw 0 #999999;
            box-shadow: 0 0 2vw 0 #999999;
}

#upperLine, #lowerLine {
	width: 38vw;
}

#symbol {
	width: 10vw;
}

textarea {
	font-size: 5vw;
	width:92%;
	margin: 2vw 1vw;
	padding: 2vw;
	background-color:#FFFF66; 
	border: 0.3vw solid #000000;
	border-radius: 4vw 0 0 0;
	-webkit-box-shadow: 0 0 2vw 0 #999999;
       -moz-box-shadow: 0 0 2vw 0 #999999;
            box-shadow: 0 0 2vw 0 #999999;
}

#textblockBorder {
	width: 120%
}

.boxin {
	width:92%;
	margin: 2vw 1vw;
	padding: 2vw;
	background-color:#F0FAD8;
	border: solid 0.3vw #A4C351;
	border-radius: 4vw 0 0 0;
	-webkit-box-shadow: 0 0 2vw 0 #999999;
       -moz-box-shadow: 0 0 2vw 0 #999999;
            box-shadow: 0 0 2vw 0 #999999;
}

.tabrow {
  padding:0;
  margin: 0 2vw;
  overflow: hidden;
}

.tabrow li {
  list-style: none;
  border-radius: 3vw 3vw 0 0;
  background: #AAAAAA;
  display: inline-block;
  -webkit-box-shadow: 1vw 1vw 1vw 0 #999999;
     -moz-box-shadow: 1vw 1vw 1vw 0 #999999;
          box-shadow: 1vw 1vw 1vw 0 #999999;
  
}

.tabrow input {
  border: 0;
  background: transparent;
  padding: 2vw;
  -webkit-box-shadow: 0 0 0 0;
  -moz-box-shadow: 0 0 0 0;
  box-shadow: 0 0 0 0;
}
.tabrow .selected {
 background: #FAFFFA;
}

.box, .boxw, #error {
	float: left;
	margin: 0 0 2vw 2vw;
	padding: 2vw;
	box-sizing: border-box;
	background-color: #FAFFFA;
	background-image: -webkit-linear-gradient(top, #FFFFFF, #FFF2C4);
	background-image:    -moz-linear-gradient(top, #FFFFFF, #FFF2C4);
	background-image:     -ms-linear-gradient(top, #FFFFFF, #FFF2C4);
	background-image:      -o-linear-gradient(top, #FFFFFF, #FFF2C4);
	background-image:         linear-gradient(top, #FFFFFF, #FFF2C4);
	-webkit-box-shadow: 1vw 1vw 1vw 0 #999999;
	-moz-box-shadow: 1vw 1vw 1vw 0 #999999;
    box-shadow: 1vw 1vw 1vw 0 #999999;
}

#error {
	border: solid 1vw red;
	text-align: center;
	font-weight: bold;
}

.box {
	width: 46vw;
}
.boxw, #error, #boxSetup, #debug {
	width: 94vw;
}

.onOff button {
  width: 12vw;
  height: 12vw;
  margin: -2vw 2vw 0 0;
}

.button {
  width: 12vw;
  height: 12vw;
  margin-right: 2vw;
}

.smallButton {
  width: 8vw;
  height: 8vw;
  margin: 1vw 0 3vw 0;
}

button {
	width:  100%;
	height: 100%;
	padding: 0.5vw;
	border: solid 0.5vw black;
	border-radius: 25%;
	-webkit-box-shadow: 0.5vw 0.5vw 0.5vw 0 #999999;
	   -moz-box-shadow: 0.5vw 0.5vw 0.5vw 0 #999999;
	        box-shadow: 0.5vw 0.5vw 0.5vw 0 #999999;
}

.grayButton, button:active {
	background-color: #BBBBBB !important;
	border-radius: 40% !important;
	border: solid 1vw #BBBBBB !important;
}

button img {
	margin: 0.5vw;
}

table {
	border-spacing: 0;
	margin: 1vw;
}

.boxin td {
	border-top: solid 0.5vw #A4C351;
	padding: 1vw;
}

#autoOff {
	padding: 1vw;
	margin: 1vw;
}
